# Create a New Tag for NER

Given a dataframe with label name, pattern and pattern id in a given file
create a new ruler and add the ruler to the original nlp.
File name: Degrees and Acronymns.csv
File Columns: 
   DegreeName (Bachelor, Master, or Doctor)
   DegreeAcronym (all the synonyms to a given degree)
   Type: in this case is EDU

Spicy file used is en_core_web_md which is augmented with Degrees and Acronyms.  The new pipe file is stored in local directory that can be caused using spacy.load

In [309]:
import spacy
from spacy.lang.en import English
from spacy.pipeline import EntityRuler
import pandas as pd

In [310]:
#Read file, and load the nlp
degrees_df = pd.read_csv("../Degrees And Acronyms.csv") 
nlp = spacy.load("en_core_web_md")

In [311]:
#Add the new labeled Entities and their classification to nlp, and save the result in local directory
ruler = EntityRuler(nlp)
for row in degrees_df.itertuples():
        ruler.add_patterns([{"label": row.Type, "pattern": row.DegreeAcronym,"id":row.DegreeName}])
nlp.add_pipe(ruler,before ="ner") 
nlp.to_disk("./")

In [312]:
#If one wants to upload the new nlp, one just need to use spacy.load and provide the path to the file (.json file type)
nlp = spacy.load('./')

In [313]:
#Example use
def extract_degree_level(s):
    doc = nlp(s)
    degree = ""
    for ent in doc.ents:
        if ent.label_ == "EDU":
            degree = ent.ent_id_
            return(degree)
    return degree 
tp = extract_degree_level("BA in Computer Science")
if tp:
    print(tp)
else:
    print("not found")

Bachelor

In [208]:
#If one get an error when creating a new nlp, just do the following
nlp.remove_pipe("entity_ruler")
print(nlp.pipeline)

[('tagger', <spacy.pipeline.pipes.Tagger object at 0x7f96087f29d0>), ('parser', <spacy.pipeline.pipes.DependencyParser object at 0x7f96087cf670>), ('ner', <spacy.pipeline.pipes.EntityRecognizer object at 0x7f96087cfe50>)]

In [15]:
import os
os.getcwd()

'/Users/dalila.benachenhou/Documents/HSS/HSS_Resumes'

In [262]:
doc = nlp("1999: Ph.D. Mechanical Engineering, The Pennsylvania State University, University Park, PA")
degree_dict = {"GPE":"","ORG":"","Bachelor":"","Master":"","Doctor":"","DATE":""}
for ent in doc.ents:
    if ent.label_ == "EDU":
        degree_dict[ent.ent_id_] = ent.text
        print(ent.ent_id_,ent.text)
    else:
        print(ent.label_,ent.text)
        if ent.label_ in list(degree_dict.keys()):
            degree_dict[ent.label_] = ent.text
print(degree_dict)
#for index in list(degree_dict.values()):

DATE 1999
Doctor Ph.D.
ORG The Pennsylvania State University
GPE University Park
{'GPE': 'University Park', 'ORG': 'The Pennsylvania State University', 'Bachelor': '', 'Master': '', 'Doctor': 'Ph.D.', 'DATE': '1999'}

In [231]:
#s = "1994: B.S., M.S. Mechanical Engineering, Indian Institute of Technology, Bombay, India"
for val in list(degree_dict.values()):
    s = s.replace(index)

In [232]:
s = s.replace("1999","")
s = s.replace("The Pennsylvania State University","")

In [308]:
s = "Augustana University, Sioux Falls BA, Econ & Math 2012"
doc = nlp(s)
for ent in doc.ents:
        print(ent.label_,ent.text)

ORG Augustana University
PERSON Sioux Falls
EDU BA
ORG Econ & Math

In [234]:
s = s.replace("Ph.D.","")

In [235]:
s = s.replace( "University Park, PA","")
s

':  Mechanical Engineering, , '

In [238]:
import re
re.search("[\w\s]+",s)

In [269]:
x = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5],'z':[4,5,6]})
x.iloc[1] = {'x': 9, 'y': 99}

In [270]:
x

     x     y    z
0  1.0   3.0  4.0
1  9.0  99.0  NaN
2  3.0   5.0  6.0